<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\users\emrullah\source\repos\calculatorservice\calculatorservicehost\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="c:\users\emrullah\source\repos\calculatorservice\calculatorservicehost\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>

	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding>
					<security mode="None">
						
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<diagnostics wmiProviderEnabled="true" performanceCounters="Default">
			<messageLogging logEntireMessage="true" logMalformedMessages="true"
			 logMessagesAtTransportLevel="true" />
		</diagnostics>
		<services>
			<service name="CalculatorService.CalculatorService" behaviorConfiguration="mexBehaviour">
				<endpoint address="CalculatorService" binding="wsHttpBinding" contract="CalculatorService.ICalculatorService"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>